<html xmlns:th="https://www.thymeleaf.org">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>
	<div th:if="${mail}">
		<h2 th:text="${mail}"/>
	</div>
	<div th:if="${scriptApplied}">
		<h2 th:text="${scriptApplied}"/>
	</div>
	<div>
		<form method="POST" enctype="multipart/form-data" action="/" id="fileUploadForm">
			<table>
				<tr><td>1- Mail Results to Recipients [Comma Separated]:</td>
					<td><input type="text" name="mails" /></td></tr>
				<tr><td>2- File to upload:</td>
					<td><input type="file" name="file" /></td></tr>
				<tr><td>3- Flag to download:</td>
					<td><input type="checkbox" name="download"/></td></tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Upload" onclick="submitForm()" id="submit-button"/></td>
				</tr>

			</table>
		</form>
	</div>
</body>

</html>
